@{
    ViewData["Title"] = "Página principal";
}

<div class="text-center">
    <h1 class="display-4">Site de Perguntas e Respostas</h1>
    <p>Em desenvolvimento por Alison. <a href="https://github.com/alisondarocha">github</a>.</p>
</div>
